# via https://github.com/Nicolas-Ferre/rust-example/blob/802ac08bf16f0c59399ca7a2fef8ba5dd0a08d63/.editorconfig
root = true

[*]
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.rs]
indent_size = 4

[*.sh]
indent_size = 4
